* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
    to right,
    rgba(133, 255, 189, 1) 0%,
    rgba(255, 251, 125, 1) 90.7%
  );
  width: 100vw;
  overflow-x: hidden;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  padding-top: 5rem;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1 {
  text-align: center;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
}

.list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #5a5a5a;
  border-radius: 4px;
  margin-bottom: 8px;
}

.list li span {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  width: 80%;
  word-break: break-all;
}

.checkboxDiv {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.list li input {
  width: 20px;
  height: 20px;
}

.list li button {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.list li button,
.list li button span {
  transition: 200ms;
}

.list li button .text {
  transform: translateX(11px);
  color: white;
  font-weight: bold;
}

.list li button .icon {
  position: absolute;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.list li button svg {
  width: 15px;
  fill: #eee;
}

.list li button:hover {
  background: #ff3636;
}

.list li button:hover .text {
  color: transparent;
}

.list li button:hover .icon {
  transform: translateX(0);
  opacity: 1;
}

.list li button:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.list li button:hover {
  background: #ff0000;
  color: #fff;
}

.done {
  text-decoration: line-through;
  color: rgb(116, 113, 113);
}

.no-todos {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  transition: all 1s ease;
  -webkit-animation: scale-up-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bottom 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.addForm {
  margin-bottom: 15px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.addForm input {
  width: 100%;
  padding: 8px;
  font-size: 20px;
  line-height: 100%;
  outline: none;
  border: 2px solid rgb(7, 153, 73);
  background: rgba(255, 255, 255, 0.7);
}

.addForm button {
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 9px;
  font-size: 16px;
  border: none;
  background: rgb(7, 153, 73);
  cursor: pointer;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0px;
  transition: all 0.5s ease;
}

.addForm button::after {
  content: "Add todo";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.addForm button:hover {
  letter-spacing: 1.5px;
}

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}
@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

/* Loader Styles */

.loader {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgb(0, 141, 0);
  border-color: rgb(0, 141, 0) transparent rgb(0, 141, 0) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  10% {
    border: 32px solid rgb(255, 40, 40);
    border-color: rgb(255, 40, 40) transparent rgb(255, 40, 40) transparent;
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    border: 32px solid rgb(255, 40, 40);
    border-color: rgb(255, 40, 40) transparent rgb(255, 40, 40) transparent;
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    border: 32px solid rgb(0, 141, 0);
    border-color: rgb(0, 141, 0) transparent rgb(0, 141, 0) transparent;
    transform: rotate(1800deg);
  }
}

/* =================== */

/* Responsiveness */

@media screen and (max-width: 600px) {
  .addForm {
    width: 95%;
  }

  .addForm input {
    font-size: 14px;
  }

  .addForm button {
    width: 40px;
    height: inherit;
    font-size: 14px;
    position: relative;
  }

  .addForm button::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "+";
    font-size: 20px;
    font-weight: 900;
  }
}
